\.config/chromium/

\.config/GitKraken/

\.config/pulse/

\.config/libreoffice/

\.zsh/zhistory

\.zsh/zshrcopenlog

\.config/dein/

\.config/nvim/backups/

\.config/gnome-pie/gnome-pie\.log

\.config/autostart/
