\.config/*chrom*	#No chromiums!

\.config/GitKraken/

\.config/pulse/

\.config/libreoffice/

\.zsh/zhistory

\.zsh/zshrcopenlog

\.config/dein/

\.config/nvim/backups/

\.config/gnome-pie/gnome-pie\.log

\.config/autostart/

\.config/Atom

\.config/vivaldi

\.config/rtv

\.config/unity3d
