\.zsh/zhistory
\.zsh/zshrcopenlog
\.config
	#honestly it's just a pain making sure no sensitive data gets stuck on github, we can sync these with on the local network with rsync
!\.config/nvim/
#but we DO want to include some things
	\.config/nvim/backups/
		#just not all of those some things
