#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Alt Tab
Exec=/usr/bin/gnome-pie -o 178
Encoding=UTF-8
Type=Application
Icon=dock
StartupWMClass=gnome-pie-178
